<div class="main">
  <div class="exit">
    <img src="../../../../assets/images/driving-license/exit.svg">
  </div>
  <header>
    <img class="header__logo" src="../../../../assets/images/driving-license/usa_logo_eagle.svg" width="116" height="116">
    <div class="header__text">
      <h1>UNITED STATES OF AMERICA</h1>
      <h1 class="header__text__end">
        <span><img src="../../../../assets/images/driving-license/star.svg"></span>
        ВОДИТЕЛЬСКИЕ ПРАВА
        <span><img src="../../../../assets/images/driving-license/star.svg"></span>
      </h1>
    </div>
  </header>
  <div class="body">
    <div class="info">
      <div class="info__name">
        <h3>ИМЯ</h3>
        <p>{{ service.name }}</p>
      </div>
      <div class="info__sex">
        <h3>ПОЛ</h3>
        <p>{{ service.gender }}</p>
      </div>
      <div class="info__id">
        <h3>ID ЛИЦЕНЗИИ</h3>
        <p>{{ service.id }}</p>
      </div>
    </div>
    <div class="categories">
      <div class="category_d">
        <h3>
          B
          <img src="../../../../assets/images/driving-license/categories/category_d.svg">
        </h3>
      </div>
      <div class="category_m">

      </div>
      <div class="category_b">

      </div>
      <div class="category_fly">

      </div>
      <div class="category_boats">

      </div>
    </div>
  </div>
</div>
