@import "../../shared/styles/driving-license";
.main {
  width: $width;
  height: $height;
  background-color: $background-color;
  border-radius: 32px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(~src/assets/images/driving-license/back-driving-license.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 200px;

  .exit {
    position: absolute;
    right: 0;
    margin: 20px;
    cursor: pointer;
  }

  header {
    display: inline-flex;
    flex-wrap: wrap;

    .header__logo  {
      margin: 20px;
    }

    .header__text{
      font-family: Manrope, sans-serif;
      text-align: center;
      margin: auto 70px;

      h1 {
        margin-top: 0;
        margin-bottom: 0;
      }

      .header__text__end {
        font-size: 23px;
        margin-top: 0;
        letter-spacing: 6px;
      }
    }
  }

  .body {
    display: flex;
    .info {
      display: grid;
      grid-template-areas:
        "name"
        "sex"
        "id";
      margin-top: 40px;
      margin-left: 75px;
      font-family: Manrope, sans-serif;
      h3 {
        font-size: 18px;
        margin: 0;
        font-weight: 700;
      }
      p {
        margin-top: 5px;
        font-weight: 400;
      }
    }

    .categories {
      margin-left: auto;
      margin-right: 60px;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
