<div class="main">
  <div class="exit" (click)="closeEmitter.emit()">
    <mat-icon svgIcon="exit"></mat-icon>
  </div>
  <header>
    <mat-icon svgIcon="usa_logo_eagle" class="header__logo"></mat-icon>
    <div class="header__text">
      <h1>UNITED STATES OF AMERICA</h1>
      <h1 class="header__text__end">
        <span><mat-icon svgIcon="star"></mat-icon></span>
        ВОДИТЕЛЬСКИЕ ПРАВА
        <span><mat-icon svgIcon="star"></mat-icon></span>
      </h1>
    </div>
  </header>
  <div class="body">
    <div class="info">
      <div class="info__name">
        <h3>ИМЯ</h3>
        <p>{{ service.name }}</p>
      </div>
      <div class="info__sex">
        <h3>ПОЛ</h3>
        <p>{{ service.gender }}</p>
      </div>
      <div class="info__id">
        <h3>ID ЛИЦЕНЗИИ</h3>
        <p>{{ service.id }}</p>
      </div>
    </div>
    <div class="categories">
      <app-driving-license-category
        *ngFor="let licence of licenses"
        [licence]="licence[1]"
        [type]="licence[0]"
      ></app-driving-license-category>
    </div>
  </div>
</div>
