<h3>{{ categoryLetter }}</h3>
<div class="category_icon">
  <mat-icon id="info_m" [svgIcon]="categoryIcon"></mat-icon>
  <label for="info_m" *ngIf="isCanceled">
    <div class="corner"></div>
    <div class="info_m">
      <p>Вы лишены прав на вождение данной категории транспорта <em>до {{ nextTryAt }}</em></p>
      <div class="info_m__main">
        <div class="date_end">
          <h3>ДАТА ЛИШЕНИЯ</h3>
          <p>{{ stateChangedAt }}</p>
        </div>
        <div class="reason">
          <h3>ПРИЧИНА</h3>
          <p>{{ licence.cancelReason }}</p>
        </div>
      </div>
    </div>
  </label>
</div>
