<div class="main">
  <div class="right-side" (click)="this.closeEmitter.emit()">
    <mat-icon svgIcon="exit"></mat-icon>
    <mat-icon class="right-line" svgIcon="right-line"></mat-icon>
  </div>
  <div class="left-side">
    <div class="logo_usa">
      <mat-icon svgIcon="usa_logo_eagle"></mat-icon>
    </div>
    <div class="passport-series">
      <p>Серия паспорта<br>
        NUMPASS<<<<<<br>
        {{ service.numpass }}
      </p>
    </div>
    <div class="line"></div>
  </div>
  <div class="info">
    <div class="header">
      <div class="header__text">
        <h1>UNITED STATES OF AMERICA</h1>
        <h1 class="header__text__end">
          <span><mat-icon svgIcon="star"></mat-icon></span>
          ПАСПОРТ
          <span><mat-icon svgIcon="star"></mat-icon></span>
        </h1>
      </div>
    </div>
    <div class="info_main">
      <div class="info_main__left">
        <div class="avatar"></div>
        <div class="signature"></div>
        <h3>Подпись</h3>
      </div>
      <div class="info_main__right">
        <div class="info__item">
          <h3>ИМЯ</h3>
          <p>{{ service.name }}</p>
        </div>
        <div class="info__item">
          <h3>ПОЛ</h3>
          <p>{{ service.gender }}</p>
        </div>
        <div class="info__item">
          <h3>ГРАЖДАНСТВО</h3>
          <p>{{ service.citizenship }}</p>
        </div>
        <div class="info__item">
          <h3>ДАТА РОЖДЕНИЯ</h3>
          <p>{{ service.dateOfBirth }}</p>
        </div>
        <div class="info__item">
          <h3>СЕМЕЙНОЕ ПОЛОЖЕНИЕ</h3>
          <p>{{ service.married }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
