@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Manrope'), url(~src/assets/fonts/Manrope/Manrope-ExtraLight.ttf) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Manrope'), url(~src/assets/fonts/Manrope/Manrope-Light.ttf) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manrope'), url(~src/assets/fonts/Manrope/Manrope-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Manrope'), url(~src/assets/fonts/Manrope/Manrope-Medium.ttf) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Manrope'), url(~src/assets/fonts/Manrope/Manrope-SemiBold.ttf) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Manrope'), url(~src/assets/fonts/Manrope/Manrope-Bold.ttf) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Manrope'), url(~src/assets/fonts/Manrope/Manrope-ExtraBold.ttf) format('woff2');
}
